#activity-header {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 1em;
    
}

#activity-header-title {
    display: flex;
    flex-grow: 1;
}

#activity-header-form {
    display: flex;
    margin: 0;
}

#activity-header-form .form-control {
    width: 5em;
    margin-right: 2px;
}

#summary-chart {
    height: 600px;
}

#summary {
    margin-top: 1em;
}

#summary-table {
    font-size: 0.75em;
}

#current-activity.alert {
    font-size: 80%;
    padding: 2px 0.75em;
}

#activity-footer {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
    margin-bottom: 1em;
}
